<!DOCTYPE html>
<html>
    {%  load  static  %}
    <head>
        <meta charset='utf-8' />
        <title>Policias</title>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <script src=" {%  static  'mapbox-gl.js'  %} "></script>
        <link href="{%  static  'mapbox-gl.css'  %}" rel='stylesheet' />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body {
                margin:0;
                padding:0;
            }
            #map {
                position:absolute;
                top:0;
                bottom:0;
                width:100%;
            }
            .coordinates {
                background: rgba(0,0,0,0.5);
                color: #fff;
                position: absolute;
                bottom: 40px;
                left: 10px;
                padding:5px 10px;
                margin: 0;
                font-size: 11px;
                line-height: 18px;
                border-radius: 3px;
                display: none;
            }
            #cont-fecha{
                z-index: 8888;
                position: absolute;
            }
            .cien{
                width: 100%;
            }

            html,body{
                width: 100%;
                height: 100%;
            }

            body {
                background-color: white;
            }

            #circle {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 150px;
                height: 150px;	
            }

            .loader {
                width: calc(100% - 0px);
                height: calc(100% - 0px);
                border: 8px solid #162534;
                border-top: 8px solid #09f;
                border-radius: 50%;
                animation: rotate 5s linear infinite;
            }
            #cargando{
                color: #162534;
            }
            @keyframes rotate {
              100% {transform: rotate(360deg);}
            }
            #datos{
              height: 100vh;
              width: 100%;
              background-color:#162534;
              z-index: 9999;
              position: absolute;
            }
            #iniciar{
              height: 100px;
              width: 100px;
              border-radius: 50px;
            }
        </style>
    </head>
    <body>  
        <div id='map'>
            <div id="datos">
              <div class="container d-flex justify-content-center align-items-center" style="height: 100%">
                <div class="row-fluid" style="width: 100%;height: 90%">
                  <div class="col-lg-6 offset-lg-3 col-sm-10 offset-sm-1" style="background-color: white; border-radius: 20px; height: 100%">
                    <div class="container" style="height: 100%">
                      <div class="row-fluid" style="padding-top: 20px; height: 100%">
                        <div class="d-flex justify-content-center align-items-center" style="height: 100%">
                          <div>
                              <div class="col-12">
                                <h2 class="text-center font-weight">Datos necesarios</h2><br><br>
                              </div>
                              <div class="col-12">
                                  <form>
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Móvil agresor</label>
                                        <select class="form-control" id="agresor">
                                          <option value="0">A pie</option>
                                          <option value="1">En bicicleta</option>
                                          <option value="2">Conductor de autobús</option>
                                          <option value="3">Conductor de motocicleta</option>
                                          <option value="4">Conductor de taxi</option>
                                          <option value="5">Conductor vehículo particular</option>
                                          <option value="6">No reporta</option>
                                          <option value="7">Pasajero de autobús</option>
                                          <option value="8">Pasajero de metrolínea</option>
                                          <option value="9">Pasajero de motocicleta</option>
                                          <option value="10">Pasajero de texi</option>
                                          <option value="11">Pasajero de vehículo</option>
                                          <option value="12">Tripulante de aeronave</option>
                                        </select>
                                      </div>
                                    <div class="form-group">
                                      <label for="exampleFormControlSelect1">Tipo de delito</label>
                                      <select class="form-control" id="delito">
                                        <option value="0">Lesiones fatales</option>
                                        <option value="1">Lesiones no fatales</option>
                                        <option value="2">Violencia sexual</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Tipo de arma usada</label>
                                        <select class="form-control" id="arma">
                                          <option value="0">Armas blancas</option>
                                          <option value="1">Armas de fuego</option>
                                          <option value="2">Sustancias químicas</option>
                                          <option value="3">Sin armas</option>
                                          <option value="4">Armas contundentes</option>
                                          <option value="5">Explosivos</option>
                                        </select>
                                      </div>
                                    <div class="form-group d-flex justify-content-center align-items-center">
                                      <button type="button" class="btn btn-success" id="iniciar">Iniciar</button>
                                    </div>
                                    <div class="text-center" id="cargando">
                                      <div class="spinner-border" role="status">
                                      </div><br>                           
                                      <label>Cargando</label>
                                    </div>
                                  </form>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group cien" id="cont-fecha">
              <div style="background-color: transparent; border-top-left-radius: 50px; border-bottom-left-radius: 50px">
                <button class="btn btn-primary" id="volver" style="border-radius: 0px; border-radius: 50px;"><i class="fa fa-arrow-left"></i></button>
              </div>
            </div>
        </div>
        
        <script>
          $("#cargando").hide();
          $("#iniciar").click(function(){
            //$("#datos").hide();
            $("#cargando").show();
            var agresor = $('#agresor option:selected').val();
            var delito = $('#delito option:selected').val();
            var arma = $('#arma option:selected').val();
            fecha_actual = new Date();
            dia = fecha_actual.getDate();
            mes = fecha_actual.getMonth() + 1;
            var puntos;
            var datos = {'agresor': parseInt(agresor), 'delito': parseInt(delito), 'arma': parseInt(arma), 'dia': dia, 'mes': mes};
              $.ajax({
                  url: 'calcular_zona_critica/',
                  type: 'GET',
                  data:datos,
                  dataType: 'json',
                  success: function(data){
                      puntos = data;
                  }
              }).done(function(){
                  mapboxgl.accessToken = 'pk.eyJ1Ijoib3NjYXJzaW51Y28iLCJhIjoiY2p3dXA5bHIzMDA4ZTQ0dGsydzl4OWJkMyJ9.79GLKBq4b7ZXWQuyasePZw';
                  var coordinates = document.getElementById('coordinates');
                  var map = new mapboxgl.Map({
                      container: 'map',
                      style: 'mapbox://styles/mapbox/streets-v11',
                      center: [-73.118675, 7.127029],
                      zoom: 12.8
                  });                  
                  var marker;
                  function pointOnCircle(a,b) {
                      return {
                          "type": "Point",
                          "coordinates": [a,b]
                      };
                  }
                  var radius = 3000;
                  var muestras = new Array();
                  var cont = 0;
                  for (var i in puntos){
                    marker = new mapboxgl.Marker({
                      draggable: false
                    })
                    .setLngLat([puntos[i][1], puntos[i][0]])
                    .setPopup(new mapboxgl.Popup({ offset: 25 })
                    .setHTML(i)).addTo(map);
                    muestras.push({
                        "type":"Feature",
                        "geometry":{
                        "type":"Point",
                        "coordinates":[puntos[i][1], puntos[i][0]]
                        }
                    });
                  }
                  map.on('load', function () {
                    map.addSource('point', {
                      "type": "geojson",
                      "data": {
                        "type":"FeatureCollection",
                        "features":muestras                                
                      }
                    });
                  map.addLayer({
                    "id": "point",
                    "source": "point",
                    "type": "circle",
                    "paint": {
                      "circle-radius": {
                        stops: [
                          [0, 0],
                          [20, 600000*puntos[i][2]]
                        ],
                        base: 2
                      },
                    "circle-color": "rgba(255,0,0,0.5)"
                    }
                  });                   
                  $("#datos").hide();      
                });    
              });
          });
          $("#volver").click(function(){
            
            $("#cargando").hide();
            $("#datos").show(300);
          });
        </script>
 </body>
</html>