<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <title>Personas</title>
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <script src=" {%  static  'mapbox-gl.js'  %} "></script>
    <link href="{%  static  'mapbox-gl.css'  %}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
      .coordinates {
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        position: absolute;
        bottom: 40px;
        left: 10px;
        padding: 5px 10px;
        margin: 0;
        font-size: 11px;
        line-height: 18px;
        border-radius: 3px;
        display: none;
      }
      #cont-fecha {
        z-index: 8888;
        position: absolute;
      }
      .cien {
        width: 100%;
      }

      html,
      body {
        width: 100%;
        height: 100%;
      }

      body {
        background-color: white;
      }

      #circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 150px;
      }

      .loader {
        width: calc(100% - 0px);
        height: calc(100% - 0px);
        border: 8px solid #162534;
        border-top: 8px solid #09f;
        border-radius: 50%;
        animation: rotate 5s linear infinite;
      }
      #cargando {
        color: #162534;
      }
      @keyframes rotate {
        100% {
          transform: rotate(360deg);
        }
      }
      #datos {
        height: 100vh;
        width: 100%;
        background-color: #162534;
        z-index: 9999;
        position: absolute;
      }
      #iniciar {
        height: 100px;
        width: 100px;
        border-radius: 50px;
      }
      .marker {
        background-image: url("{%  static  'peligro.png'  %}");
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div id="map">
      <div id="datos">
        <div
          class="container d-flex justify-content-center align-items-center"
          style="height: 100%"
        >
          <div class="row-fluid" style="width: 100%;height: 90%">
            <div
              class="col-lg-6 offset-lg-3 col-sm-10 offset-sm-1"
              style="background-color: white; border-radius: 20px; height: 100%"
            >
              <div class="container" style="height: 100%">
                <div class="row-fluid" style="padding-top: 20px; height: 100%">
                  <div
                    class="d-flex justify-content-center align-items-center"
                    style="height: 100%"
                  >
                    <div>
                      <div class="col-12">
                        <h2 class="text-center font-weight">
                          Datos necesarios
                        </h2>
                        <br /><br />
                      </div>
                      <div class="col-12">
                        <form>
                          <div class="form-group">
                            <label for="exampleFormControlSelect1"
                              >¿Como vas a viajar?</label
                            >
                            <select class="form-control" id="metodo">
                              <option value="0">A pie</option>
                              <option value="1">En bicicleta</option>
                              <option value="2">En aeronave</option>
                              <option value="3">En barco</option>
                              <option value="4">En autobús</option>
                              <option value="5">En metrolinea</option>
                              <option value="6">En motocicleta</option>
                              <option value="7">En taxi</option>
                              <option value="8">En automóvil</option>
                              <option value="9">Conduciendo autobús</option>
                              <option value="10"
                                >Conduciendo motocicleta</option
                              >
                              <option value="11">Conduciendo taxi</option>
                              <option value="12">Conduciendo automóvil</option>
                              <option value="13">No reporta</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlSelect1"
                              >Género</label
                            >
                            <select class="form-control" id="genero">
                              <option value="0">Femenino</option>
                              <option value="1">Masculino</option>
                              <option value="2">Otro</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1"
                              >Edad</label
                            >
                            <input
                              type="number"
                              class="form-control"
                              id="edad"
                              value="20"
                            />
                          </div>
                          <div
                            class="form-group d-flex justify-content-center align-items-center"
                          >
                            <button
                              type="button"
                              class="btn btn-success"
                              id="iniciar"
                            >
                              Iniciar
                            </button>
                          </div>
                          <div class="text-center" id="cargando">
                            <div class="spinner-border" role="status"></div>
                            <br />
                            <label>Cargando</label>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group cien" id="cont-fecha">
        <div
          style="background-color: transparent; border-top-left-radius: 50px; border-bottom-left-radius: 50px"
        >
          <button
            class="btn btn-primary"
            id="volver"
            style="border-radius: 0px; border-radius: 50px;"
          >
            <i class="fa fa-arrow-left"></i>
          </button>
        </div>
      </div>
    </div>

    <script>
      $("#cargando").hide();
      $("#iniciar").click(function() {
        //$("#datos").hide();
        $("#cargando").show();
        var metodo = $("#metodo option:selected").val();
        var edad = $("#edad").val();
        var genero = $("#genero option:selected").val();
        fecha_actual = new Date();
        dia = fecha_actual.getDate();
        mes = fecha_actual.getMonth() + 1;
        var puntos;
        var datos = {
          metodo: parseInt(metodo),
          edad: parseInt(edad),
          genero: parseInt(genero),
          dia: dia,
          mes: mes
        };
        $.ajax({
          url: "calcular_ruta_personas/",
          type: "GET",
          data: datos,
          dataType: "json",
          success: function(data) {
            puntos = data;
          }
        }).done(function() {
          var coordenas_zonas = [];
          var temp;
          for(var i in puntos){
            temp = puntos[i];
            temp.pop();
            coordenas_zonas.push(temp);
          }
          console.log(coordenas_zonas);
          ruta = [];
          mapboxgl.accessToken =
            "pk.eyJ1Ijoib3NjYXJzaW51Y28iLCJhIjoiY2p3dXA5bHIzMDA4ZTQ0dGsydzl4OWJkMyJ9.79GLKBq4b7ZXWQuyasePZw";
          var coordinates = document.getElementById("coordinates");
          var map = new mapboxgl.Map({
            container: "map",
            style: "mapbox://styles/mapbox/streets-v10",
            center: [-73.118675, 7.127029],
            zoom: 12.8
          });
          var marker_origen = new mapboxgl.Marker({
            draggable: true,
            color: "#5bc0de"
          })
            .setLngLat([-73.12300, 7.127029])
            .setPopup(new mapboxgl.Popup({ offset: 25 }).setHTML("ORIGEN"))
            .addTo(map);
          var origen = {
            lng: "-73.120675",
            lat: "7.127029"
          };
          var destino = {
            lng: -73.118675,
            lat: 7.127029
          };
          function onDragEnd() {
            //ORIGEN
            ruta = [];
            destino = marker_destino.getLngLat();
            console.log("ORIGEN");
            try {
              map.removeLayer("route");
              map.removeSource("route");
            } catch (error) {
              console.log("error");
            }
            origen = marker_origen.getLngLat();

            var modo;
            if (parseInt(metodo) == 0) {
              modo = "walking";
            }
            if (parseInt(metodo) == 1) {
              modo = "cycling";
            }
            if (parseInt(metodo) != 0 && parseInt(metodo) != 1) {
              modo = "driving";
            }
            $.ajax({
              method: "GET",
              url:
                "https://api.mapbox.com/directions/v5/mapbox/" +
                modo +
                "/" +
                origen["lng"] +
                "," +
                origen["lat"] +
                ";" +
                destino["lng"] +
                "," +
                destino["lat"] +
                "?alternatives=true&geometries=geojson&overview=full&access_token=pk.eyJ1Ijoib3NjYXJzaW51Y28iLCJhIjoiY2p3dXA5bHIzMDA4ZTQ0dGsydzl4OWJkMyJ9.79GLKBq4b7ZXWQuyasePZw"
            }).done(function(data) {
              function objectToArray(obj) {
                //DIBUJAR RUTA
                var keys = Object.keys(obj);
                var routeGeoJSON = keys.map(function(key) {
                  return obj[key];
                });
                return routeGeoJSON;
              }
              var routeGeoJSON = objectToArray(
                data.routes[0].geometry.coordinates
              ); //DIBUJAR RUTA
              map.addLayer({
                id: "route",
                type: "line",
                source: {
                  type: "geojson",
                  data: {
                    type: "Feature",
                    properties: {},
                    geometry: {
                      type: "LineString",
                      coordinates: routeGeoJSON //DIBUJAR RUTA
                    }
                  }
                },
                layout: {
                  "line-join": "round",
                  "line-cap": "round"
                },
                paint: {
                  "line-color": "#38528a",
                  "line-width": 7
                }
              });
              for(var i=0;i<routeGeoJSON.length;i++){
                temp = routeGeoJSON[i];
                ruta[i] = temp.reverse();
              }
              var valor;
              var prueba = false;
              console.log(ruta);
              console.log(coordenas_zonas);
              for(var i=0;i<ruta.length;i++){
                for(var j=0;j<coordenas_zonas.length;j++){
                  a1 = ruta[i];
                  a2 = parseFloat(a1[1]);
                  a1 = parseFloat(a1[0]);                  
                  b1 = coordenas_zonas[j];
                  b2 = parseFloat(b1[1]);
                  b1 = parseFloat(b1[0]);
                  valor = Math.sqrt((Math.pow((b2-a2),2))+Math.pow((b1-a1),2));
                  if(valor<=0.001){
                    prueba = true;
                  }
                }
              }
              if(prueba){
                alert("Parece que esta ruta es peligrosa, deberías desviarte");
              }
            });
          }
          marker_origen.on("dragend", onDragEnd);
          var marker_destino = new mapboxgl.Marker({
            draggable: true,
            color: "#00FF00"
          })
            .setLngLat([-73.118675, 7.127029])
            .setPopup(new mapboxgl.Popup({ offset: 25 }).setHTML("DESTINO"))
            .addTo(map);
          function onDragEnd2() {
            //DESTINO
            ruta = [];
            console.log("DESTINO");
            destino = marker_destino.getLngLat();
            try {
              map.removeLayer("route");
              map.removeSource("route");
            } catch (error) {
              console.log("error");
            }
            origen = marker_origen.getLngLat();
            var modo;
            if (parseInt(metodo) == 0) {
              modo = "walking";
            }
            if (parseInt(metodo) == 1) {
              modo = "cycling";
            }
            if (parseInt(metodo) != 0 && parseInt(metodo) != 1) {
              modo = "driving";
            }
            $.ajax({
              method: "GET",
              url:
                "https://api.mapbox.com/directions/v5/mapbox/" +
                modo +
                "/" +
                origen["lng"] +
                "," +
                origen["lat"] +
                ";" +
                destino["lng"] +
                "," +
                destino["lat"] +
                "?alternatives=true&geometries=geojson&access_token=pk.eyJ1Ijoib3NjYXJzaW51Y28iLCJhIjoiY2p3dXA5bHIzMDA4ZTQ0dGsydzl4OWJkMyJ9.79GLKBq4b7ZXWQuyasePZw"
            }).done(function(data) {
              function objectToArray(obj) {
                //DIBUJAR RUTA
                var keys = Object.keys(obj);
                var routeGeoJSON = keys.map(function(key) {
                  return obj[key];
                });
                return routeGeoJSON;
              }
              var routeGeoJSON = objectToArray(
                data.routes[0].geometry.coordinates
              ); //DIBUJAR RUTA
              map.addLayer({
                id: "route",
                type: "line",
                source: {
                  type: "geojson",
                  data: {
                    type: "Feature",
                    properties: {},
                    geometry: {
                      type: "LineString",
                      coordinates: routeGeoJSON //DIBUJAR RUTA
                    }
                  }
                },
                layout: {
                  "line-join": "round",
                  "line-cap": "round"
                },
                paint: {
                  "line-color": "#38528a",
                  "line-width": 5
                }
              });
              for(var i=0;i<routeGeoJSON.length;i++){
                temp = routeGeoJSON[i];
                ruta[i] = temp.reverse();
              }
              var valor;
              var prueba = false;
              for(var i=0;i<ruta.length;i++){
                for(var j=0;j<coordenas_zonas.length;j++){
                  a1 = ruta[i];
                  a2 = parseFloat(a1[1]);
                  a1 = parseFloat(a1[0]);                  
                  b1 = coordenas_zonas[j];
                  b2 = parseFloat(b1[1]);
                  b1 = parseFloat(b1[0]);
                  valor = Math.sqrt((Math.pow((b2-a2),2))+Math.pow((b1-a1),2));
                  if(valor<=0.001){
                    prueba = true;
                  }
                }
              }
              if(prueba){
                alert("Parece que esta ruta es peligrosa, deberías desviarte");
              }
            });
          }

          marker_destino.on("dragend", onDragEnd2);
          var marker;
          function pointOnCircle(a, b) {
            return {
              type: "Point",
              coordinates: [a, b]
            };
          }
          var radius = 3000;
          var muestras = new Array();
          var cont = 0;
          for (var i in puntos) {
            marker = new mapboxgl.Marker({
              draggable: false,              
              color: "	#d9534f"
            })
              .setLngLat([puntos[i][1], puntos[i][0]])
              .setPopup(new mapboxgl.Popup({ offset: 25 }).setHTML(i))
              .addTo(map);
            muestras.push({
              type: "Feature",
              geometry: {
                type: "Point",
                coordinates: [puntos[i][1], puntos[i][0]]
              }
            });
          }
          map.on("load", function() {
            map.addSource("point", {
              type: "geojson",
              data: {
                type: "FeatureCollection",
                features: muestras
              }
            });
            map.addLayer({
              id: "point",
              source: "point",
              type: "circle",
              paint: {
                "circle-radius": {
                  stops: [[0, 0], [20, 600000 * puntos[i][2]]],
                  base: 2
                },
                "circle-color": "rgba(255,0,0,0.5)"
              }
            });
            $("#datos").hide();
          });
        });
      });
      $("#volver").click(function() {
        $("#cargando").hide();
        $("#datos").show(300);
      });
    </script>
  </body>
</html>
