<!DOCTYPE html>
<html>
    {%  load  static  %}
    <head>
        <meta charset='utf-8' />
        <title>Inicio</title>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <script src=" {%  static  'mapbox-gl.js'  %} "></script>
        <link href="{%  static  'mapbox-gl.css'  %}" rel='stylesheet' />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
          body{
            background-image: url("{%  static  'ciudad.jpg'  %}");
          }
          .shadow-hover{
            transition: box-shadow .3s;
            border-radius: 40px;
          }
          .shadow-hover:hover{
            box-shadow: 0 0 50px rgba(230,230,230,.2);
            cursor: pointer;
          }
          #personas{
            background-color: rgba(101, 139, 176, 0.7)
          }
          #policias{
            background-color: rgba(84, 137, 65, 0.7);
          }
          h1::selection {
              background: transparent;
          }
        </style>
    </head>
    <body>  
        <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh">
          <div class="row">
            <div class="col-lg-6 col-sm-12 col-12 ">
                <div style="height: 50vh; width: 50vh" class="shadow-hover d-flex justify-content-center align-items-center" id="personas">
                  <h1 class="text-white font-weight">PERSONAS</h1>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-12 " >
                <div style="height: 50vh; width: 50vh" class="shadow-hover d-flex justify-content-center align-items-center" id="policias">
                  <h1 class="text-white font-weight">POLICIAS</h1>
                </div>
            </div>
          </div>
        </div>
        <script>
          $("#personas").click(function(){
            location.href= "/personas";
          });
          $("#policias").click(function(){
            location.href= "/policias";
          });
        </script>
 </body>
</html>